// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.outer {
	width: 200px;
	height: 200px;
	background-color: black;
	float: left;
	overflow: hidden;
}

.outer img {
	width: 100%;
	height: 200px;	
	object-fit: cover;
	border-radius: 5px;
	padding: 2px;
	cursor: pointer;
}

.outer img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

.modal-body img {
	width: 100%;
	height: 100%;	
	object-fit: cover;
	border-radius: 5px;
	padding: 2px;
}